$first-color: #01B4C6;
$second-color: #97ce4c;
$third-color: #BEE5FD;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.CharacterList {
    position: relative;
    padding: 50px 0;
    z-index: 2;
}

h2 {
    font-size: 48px;
    color: $first-color;
    width: 100%;
    text-shadow: 4px 2px 0px $third-color;
}
ul {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    .card {
        background: $third-color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        width: 300px;
        transition: .1s;
        box-shadow: -5px 5px 0 $first-color;
        transform: scale(1);
        cursor: pointer;
        &:hover {
            box-shadow: 0 0 0 $first-color;
            transform: scale(1.05);
        }
        .img-wrapper {
            height: 300px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .card-bottom {
            height: 70px;
            width: 100%;
            background: $first-color;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                color: $third-color;
                font-size: 20px;
            }
        }
    }
}
.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background: $first-color !important;
    border: none !important;
}
.filterContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
    .nameInput {
        width: 200px;
        height: 40px;
        margin-top: 8px;
        border-radius: 4px;
        outline: none;
        border: 2px solid $first-color;
        padding: 0 10px;
        font-size: 15px;
        color: $first-color;
    }
}
.MuiButtonGroup-root {
    margin-top: 20px;
}
.MuiList-root {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 0;
    li {
        background: $third-color;
    }
}

.MuiButtonGroup-root {
    button {
        border: 3px solid $third-color;
        color: $first-color;
        &:hover {
            border: 3px solid $first-color;
        }
    }
}

.popup {
    position: fixed;
    z-index: 3;
    width: 600px;
    height: 300px;
    border-radius: 16px;
    background: $first-color;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
    box-shadow: 0 5px 0 $third-color;
    img {
        height: 280px;
        width: 280px;
        border-radius: 8px;
    }
    h2 {
        font-size: 32px;
        color: $third-color;
        text-shadow: none;
    }
    ul {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        gap: 0;
        color: $third-color;
        li {
            list-style: none;
            font-size: 20px;
            span {
                font-weight: 5  00;
            }
        }
    }
}

.paginationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    ul {
        display: flex;
        gap: 5px;
    }
}
.MuiPaper-root {
    .MuiTableRow-root {
        border: 4px solid $first-color;
        th {
            color: $first-color;
        }
        td {
            color: $first-color;
        }
    }
}