* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.CharacterList {
  position: relative;
  padding: 50px 0;
  z-index: 2;
  box-shadow: 0 0 20px inset #01B4C6;
  flex-direction: column;
  display: flex;
  align-items: center;
}

h2 {
  font-size: 48px;
  color: #01B4C6;
  width: 100%;
  text-shadow: 4px 2px 0px #BEE5FD;
}

ul {
  margin-top: 50px;
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
ul .card {
  background: #BEE5FD;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 300px;
  transition: 0.1s;
  transform: scale(1);
  cursor: pointer;
}
ul .card:hover {
  box-shadow: 0 0 0 #01B4C6;
  transform: scale(1.05);
}
ul .card .img-wrapper {
  height: 300px;
  border: 10px solid #01B4C6;
}
ul .card .img-wrapper img {
  width: 100%;
  height: 100%;
}
ul .card .card-bottom {
  height: 70px;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul .card .card-bottom p {
  color: #01B4C6;
  font-size: 20px;
  font-weight: 700;
}

.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background: #01B4C6 !important;
  border: none !important;
}

.filterContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.filterContainer .nameInput {
  width: 200px;
  height: 40px;
  margin-top: 8px;
  border-radius: 4px;
  outline: none;
  border: 2px solid #01B4C6;
  padding: 0 10px;
  font-size: 15px;
  color: #01B4C6;
}

.MuiButtonGroup-root {
  margin-top: 20px;
}

.MuiList-root {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 0;
}
.MuiList-root li {
  background: #BEE5FD;
}

.MuiButtonGroup-root button {
  border: 3px solid #BEE5FD;
  color: #01B4C6;
}
.MuiButtonGroup-root button:hover {
  border: 3px solid #01B4C6;
}

.popup {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  gap: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  cursor: pointer;
  transition: 0.2s;
}
.popup .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #fff;
  border: 10px solid #01B4C6;
  padding: 10px;
}
.popup .img-wrapper {
  padding: 10px;
  background: #01B4C6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup .img-wrapper img {
  height: 200px;
  width: 200px;
}
.popup h2 {
  font-size: 32px;
  color: #01B4C6;
  text-shadow: none;
}
.popup ul {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  gap: 0;
  color: #01B4C6;
  width: auto;
}
.popup ul li {
  list-style: none;
  font-size: 20px;
}
.popup ul li span {
  font-weight: 500;
}

.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.paginationContainer ul {
  display: flex;
  gap: 5px;
}

.MuiPaper-root .MuiTableRow-root {
  border: 4px solid #01B4C6;
}
.MuiPaper-root .MuiTableRow-root th {
  color: #01B4C6;
}
.MuiPaper-root .MuiTableRow-root td {
  color: #01B4C6;
}

.btn-group {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
}
.btn-group .watchList-btn {
  height: 47px;
  margin-bottom: -2px;
  background: #fff;
  border: 3px solid #BEE5FD;
  border-radius: 4px;
  box-shadow: 0 0 5px #01B4C6;
  color: #01B4C6;
}/*# sourceMappingURL=CharacterList.css.map */