$first-color: #01B4C6;
$second-color: #97ce4c;
$third-color: #BEE5FD;

@font-face {
    font-family: "Rick-Morty-Font";
    src: url('../fonts/get_schwifty.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.HomePage {
    width: 100% !important;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/bg.png');
    background-size: cover;
    box-shadow: 0 0 100px inset #01B4C6;
    h1 {
        font-family: "Rick-Morty-Font";
        font-size: 124px;
        color: $first-color;
        text-shadow: 4px 4px 0px $third-color;
    }
}